<html>
<head>
  <link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	type="text/css" rel="stylesheet">
<title>Insert title here</title>

</head>
<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<ul class="navbar-nav">
					<li class="nav-item active">
					  <!-- <a class="nav-link" href="#">Missing Data Dashboard <span class="sr-only">(current)</span></a> -->
					  <a class="navbar-brand" href="#">
							<img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="mdb logo">
						  </a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Home</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">Vendors</a>
					</li>
					<li class="nav-item">
							<a class="nav-link" href="#">Key Holders</a>
					</li>
					
			</ul>
		  </nav>
</body>
</html>